<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirect Page</title>
</head>
<body>
    <div class="message">
        <h1>Payment Successfully Canceled!</h1>
        <p>You will be redirected shortly...</p>
    </div>
    <script src="/cancel_b.js"></script>
</body>
</html>