<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="styles.css"> <!-- Assuming your CSS is in styles.css -->
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <a href="/profile">Profile</a> | <a href="/settings">Settings</a> | <a href="/logout">Logout</a>
    <div class="center-container">
            <h1>Dashboard for <%= firstname %> <%= lastname %></h1>
    </div>
    <p>You have logged in.</p>
    <p>Here is your dashboard.</p>
</body>
</html>
