<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css"> <!-- Link to your external CSS file -->
    <link rel="stylesheet" href="header.css">
    <title>Profile</title>
</head>
<body>
    <header>
        <h1 id="title"><a href="/">SeekingAgents</a></h1>
        <p><%= firstname %> <%= lastname %></p>
        <p>   ---      </p>
        <nav id="navlinks">
            <a href="/profile">Profile</a>
            <p>|</p>
            <a href="/settings">Settings</a>
            <p>|</p>
            <a href="/logout">Logout</a>
        </nav>
    </header>
    <h1>Dashboard for <%= firstname %> <%= lastname %></h1>
    <div id="profileContainer">
        <p><h1>Current Licenses</h1></p>
        <table id="licensesTable">
            <thead>
                <tr>
                    <th>License State</th>
                    <th>License Number</th>
                    <th>Expiration Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="zipCode-container">
        <h1>Zip Codes</h1>
        <p>Select Zip Codes in which you would like offers</p>
        <br>
        <label for="stateSelect">States:</label>
        <select id="stateSelect" onchange="populateCities();"></select>   
        <label for="citySelect">Cities:</label>
        <select id="citySelect" onchange="populateZipCodes();"></select>
        <div class="grid-container">
            <div class="grid-available">
                <p>Available Zip Codes</p>
                <div class="container">
                    <div id="availabeZipCodesContainer" class="box1">
                        <!-- JavaScript will populate this container -->
                    </div>
                </div>
            </div>
            <div class="grid-action">
                <button type="button" class="button" onclick="addSelection()">Add --> </button>
                <button type="button" class="button" onclick="removeSelection()"> <-- Remove</button>
            </div>
            <div class="grid-selected">
                <p>Selected Zip Codes</p>
                <div class="container">
                    <div id="selectedZipCodesContainer" class="box2">
                        <!-- JavaScript will populate this container -->
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="button" disabled id="saveChanges" onclick="saveChanges()">SAVE</button>
    </div>
    <script src="/profile.js"></script>
</body>
</html>