<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="header.css">
    <title>Dashboard</title>
</head>
<body>
    <header>
    <h1 id="title"><a href="/">SeekingAgents</a></h1>
    <p><%= firstname %> <%= lastname %></p>
    <p>   ---      </p>
    <div id="navlinks">
        <a href="/profile">Profile</a>
        <p>|</p>
        <a href="/settings">Settings</a>
        <p>|</p>
        <a href="/logout">Logout</a>
    </div>
</header>
    <div id="parentElement">
        <div id="dashboardContainer">
       <div class="center-container">
            <h1>Dashboard for <%= firstname %> <%= lastname %></h1>
        </div>
    </div>
</div>
<script src="/script.js"></script>
</body>
</html>
