<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="standardstyles.css">
    <link rel="stylesheet" href="modal.css">
  </head>

<header>
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#">
        <div class="logo-container"></div>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" style="color: white" href="/login_a">Agent Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: white" href="/register">Register</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  
<body id="loginBody">
    <div class="margin-top-100"></div>
    <div class="container mt-5 col-md-3">
        <div class="form-container">
            <div id="loginContainer">
                <h3 class="text-center">Buyer Login</h3>
                <form id="loginForm" action="/login" method="post">
                    <div class="form-group row justify-content-center">
                        <div class="col-md-6">
                            <label for="email">Email:</label>
                            <input type="email" id="email" name="email" required class="form-control" placeholder="Enter email">
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <div class="col-md-6">
                            <label for="password">Password:</label>
                            <input type="password" id="password" name="password" required class="form-control" placeholder="Enter password">
                        </div>
                    </div>
                    <div class="text-center">
                        <a href="/sendreset">Forgot Password?</a>
                    </div>
                    <div class="text-center">
                        <button id="submit_button" type="submit" class="btn btn-primary btn-sm">Login</button>
                    </div>
                    <div class="form-group row justify-content-center">
                        <div class="col-md">
                            <div class="alert alert-warning" id="message" style="text-align: center;">
                                <%= message %>
                            </div>
                        </div>
                    </div>
                    
                </form>
                <input type="hidden" id="userType" name="userType" value="Buyer">
            </div>
        </div>
    </div>
    <script>
        // JavaScript to set focus on the email field upon page load
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('email').focus();
        });
    </script>    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/script.js"></script>
    <script src="/session.js"></script>
</body>

</html>