<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div id="logoutMessage"></div>
    <div id="verifytMessage"></div>
    <h1>Login: this works</h1>
    <form action="/login" method="post">
        <label for="user">Username:</label>
        <input type="email" id="user" name="user" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Login</button>
    </form>
    <a href="/reset">Forgot Password?</a>
<script src="/script.js"></script>
</body>
</html>
