<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="/styles.css"> <!-- Ensure you have some CSS for basic styling -->
</head>
<header>
    <h1 id="title"><a href="/">SeekingAgents</a></h1>
    <div id="navlinks">
        <a href="/register">Register</a>
    </div>
</header>
<body>
    <h1>Please Login:</h1>
    <div id="parentElement">
     <div id="loginContainer">
         <form id="loginForm" action="/login" method="post">
         <input type="email" id="username" name="username" placeholder="Email">
         <input type="password" id="password" name="password" placeholder="Password">
         <button type="submit" >Login</button>
     </form>
     <div id="message"><%= message %></div>
     <br>
     <a href="/sendreset">Forgot Password?</a>
 </div>
 </div>
 <script src="/script.js"></script>
</body>
</html>
