<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div id="logoutMessage"></div>
        <h1>Login: this works</h1>
    <form action="/login" method="post">
        <label for="user">Username:</label>
        <input type="email" id="user" name="user" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Login</button>
    </form>
    <a href="/reset">Forgot Password?</a>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const params = new URLSearchParams(window.location.search);
            if (params.get('loggedOut') === 'true') {
                const messageDiv = document.getElementById('logoutMessage');
                messageDiv.innerHTML = 'You are logged out.';
                // Add any styles or animations you want
                messageDiv.style.color = 'green';
            }
        });
    </script></body>
</html>
