<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="register.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.6.0/nouislider.min.css">
</head>
<header>
    <h1 id="title"><a href="/">SeekingAgents</a></h1>
    <nav id="navlinks">
        <a href="/login_a">Agent Login</a>
        <p>|</p>
        <a href="/login_b">Buyer Login</a>
    </nav>
</header>

<body id="registerBody">
    <div class="margin-top-100"></div>
    <div class="container mt-5">
        <div class="form-container">
            <h3 class="text-center">Register</h3>
            <form id="registerForm" action="/register" method="post">
                <div class="form-group row justify-content-center">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <label>User Type:</label>
                        <div class="radio-group">
                            <label class="radio-label"><input type="radio" name="userType" value="Buyer" required>
                                Buyer</label>
                            <label class="radio-label"><input type="radio" name="userType" value="Agent" required>
                                Agent</label>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <div class="form-group row justify-content-center">
                    <div class="form-group row justify-content-center">
                        <div class="col-md-4"></div>
                        <label class="col-md-3" style="font-size: 12px;">First</label>
                        <label class="col-md-3" style="font-size: 12px;">Last</label>
                        <div class="col-md-3"></div>
                    </div>
                    <label for="firstName" class="col-md-4 col-form-label">Name</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" id="firstName" name="firstName" required disabled>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="lastName" name="lastName" required disabled>
                    </div>
                </div>
                <div class="form-group row justify-content-center">
                        <label for="address" class="col-md-4 col-form-label">Address</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control view-mode" id="address" name="address"
                                required disabled>
                        </div>
                            <span id="address"></span>
                </div>
                <div class="form-group">
                    <label for="phoneNumber">Phone Number:</label>
                    <input type="text" id="phoneNumber" name="phoneNumber" required disabled>
                </div>
                <div class="form-group">
                    <label for="address">Address:</label>
                    <input type="text" id="address" name="address" required disabled>
                    <span id="address"></span>
                </div>
                <div class="form-group">
                    <label for="zipCode">Zip Code:</label>
                    <input type="text" id="zipCode" name="zipCode" required onblur="lookupCityState()" disabled>
                    <span id="cityState"></span>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required disabled>
                    <span id="userStatus"></span>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required disabled>
                </div>
                <div class="form-group">
                    <label for="confirm_password">Confirm Password:</label>
                    <input type="password" id="confirm_password" name="confirm_password" required disabled>
                    <p id="error_message" style="display: none; color: red">Passwords do not match</p>
                </div>
                <button id="submit_button" type="submit" disabled>Register</button>
        </div>

        </form>
    </div>
    </div>
    <script src="/script.js"></script>
    <script src="/verifypass.js"></script>
    <script src="/register.js"></script>
</body>

</html>