<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="/styles.css">
</head>
<header>
    <h1 id="title"><a href="/">SeekingAgents</a></h1>
    <div id="navlinks">
        <a href="/login">Login</a>
        <p>|</p>
        <a href="/register">Register</a>
    </div>
</header>
<body>
    <div id="parentElement">
        <div id="resetContainer">
    <h1>Reset Password</h1>
    <form id="resetForm" action="/reset" method="post">
        <input type="hidden" id="email" name="email" value="<%= email %>">
        <input type="hidden" id="token" name="token" value="<%= token %>">
        <label for="password">New Password:</label>
        <input type="password" id="password" name="password" required>
        <label for="confirm_password">Confirm Password:</label>
        <input type="password" id="confirm_password" name="confirm_password" required">
        <p id="error_message" style="display: none; color: red">Passwords do not match</p>
        <button id="submit_button" type="submit">Reset Password</button>
    </form>

</div> 
<script src="/script.js"></script>
<script src="/verifypass.js"></script>
</body>
</html>
