<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            font-size: 14px;
            /* Base font size */
        }

        .form-container {
            max-width: 600px;
            margin: auto;
        }

        .form-group {
            margin-bottom: 10px;
            /* Less space between elements */
        }

        .form-group .col-form-label {
            padding-top: 0;
            padding-bottom: 0;
        }

        .form-group .form-control {
            padding: .25rem .5rem;
            /* Less padding inside input fields */
            height: calc(1.5em + .5rem + 2px);
            /* Adjust height */
            font-size: 14px;
            /* Element value font size */
        }

        .form-control.view-mode {
            border: none;
            background-color: transparent;
            box-shadow: none;
        }

        .text-center button {
            margin: 5px;
            /* Less space between buttons */
        }
    </style>
    <link rel="stylesheet" href="header.css">
</head>
<header>
    <h1 id="title"><a href="/">SeekingAgents</a></h1>
    <div id="navlinks">
        <a href="/login">Login</a>
        <p>|</p>
        <a href="/register">Register</a>
    </div>
</header>
<body>
    <div id="parentElement">
        <div id="resetContainer">
    <h1>Reset Password</h1>
    <form id="resetForm" action="/reset" method="post">
        <input type="hidden" id="email" name="email" value="<%= email %>">
        <input type="hidden" id="token" name="token" value="<%= token %>">
        <label for="password">New Password:</label>
        <input type="password" id="password" name="password" required>
        <label for="confirm_password">Confirm Password:</label>
        <input type="password" id="confirm_password" name="confirm_password" required">
        <p id="error_message" style="display: none; color: red">Passwords do not match</p>
        <button id="submit_button" type="submit">Reset Password</button>
    </form>

</div> 
<script src="/script.js"></script>
<script src="/verifypass.js"></script>
</body>
</html>
