<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            font-size: 14px;
            /* Base font size */
        }

        .form-container {
            max-width: 600px;
            margin: auto;
        }

        .form-group {
            margin-bottom: 10px;
            /* Less space between elements */
        }

        .form-group .col-form-label {
            padding-top: 0;
            padding-bottom: 0;
        }

        .form-group .form-control {
            padding: .25rem .5rem;
            /* Less padding inside input fields */
            height: calc(1.5em + .5rem + 2px);
            /* Adjust height */
            font-size: 14px;
            /* Element value font size */
        }

        .form-control.view-mode {
            border: none;
            background-color: transparent;
            box-shadow: none;
        }

        .text-center button {
            margin: 5px;
            /* Less space between buttons */
        }
    </style>
    <link rel="stylesheet" href="header.css">
</head>
<header>
    <h1 id="title"><a href="/">SeekingAgents</a></h1>
    <nav id="navlinks">
        <a href="/login">Login</a>
        <p>|</p>
        <a href="/register">Register</a>
    </nav>
</header>
<% if (data=="Bad Token" ) { %>
    <p style="color: red;">Invalid token. Please try again.</p>
    <% } %>
        <body id="loginBody">
            <div id="loginContainer">
                <h1>Send Password Reset Email:</h1>
                <form id="loginForm" action="/sendreset" method="post">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Login Type:</label>
                                <div class="radio-group">
                                    <label class="radio-label"><input type="radio" name="userType" value="Buyer"
                                            required>
                                        Buyer</label>
                                    <label class="radio-label"><input type="radio" name="userType" value="Agent"
                                            required>
                                        Agent</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="email" id="email" name="email" placeholder="Email" disabled>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit">Send Reset Email</button>
                                </div>
                            </div>
                        </div>
                </form>
            </div>
            <script src="/script.js"></script>
        </body>

</html>