<div class="form-row">
    <div class="userZip-container">
      <div class="partial-info" id="zipContainer">
        <h4>Your Zip Codes</h4>
      </div>
      <div class="more-info" id="more-info2" style="display: none;">
        <div id="displayZipCodes" class="justify-content-center">
          <!-- JavaScript will populate this container -->
        </div>
        <div class="form-row justify-content-center">
          <button type="button" id="modify-button" class="modify-button" data-toggle="modal" data-target="#zipCodeModal" onclick="populateUserZipCodes();">
            Modify Zip Codes
          </button>
        </div>
      </div>
      <button id="toggle2" class="toggle-button moreless-button">
        <i class="fas fa-chevron-down"></i>&nbsp;Show&nbsp;<i class="fas fa-chevron-down"></i>
      </button>
    </div>
  </div>
