<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buyer Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.6.0/nouislider.min.css">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="zipcodetest.css">
</head>


<header>
    <h1 id="title"><a href="/">SeekingAgents</a></h1>
    <nav id="navlinks">
        <p>|</p>
        <a href="/profile_b">Profile</a>
        <p>|</p>
        <a href="/settings">Settings</a>
        <p>|</p>
        <a href="/logout">Logout</a>
    </nav>
</header>

<body>
    <div class="margin-top-100"></div>
    <div class="container mt-5">
        <p>Container</p>
        <div class="state-group row">
            <label for="stateSelect" class="col-md-2 test">States:</label>
            <div class="col-md-2">
                <select id="stateSelect" class="test" onchange="populateCities();"></select>
            </div>
                <label for="citySelect" class="col-md-2 test">Cities:</label>
                <div class="col-md-3 ">
                    <select id="citySelect" onchange="populateZipCodes();"></select>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="form-group row">
        <div class="zipCode-container col-md-4 justify-content-center">
            <p>Select Zip Codes</p>
            <div class="col-md-2 align-items-center"></div>
            <div id="availabeZipCodesContainer" class="col-md justify-content-center">
                <!-- JavaScript will populate this container -->
            </div>
        </div>
        <div class="zipCode-container col-md-4 justify-content-center">
            <button type="button" class="btn btn-primary btn-sm" onclick="addSelection()">Add --> </button>
            <button type="button" class="btn btn-primary btn-sm" onclick="removeSelection()"> <-- Remove</button>
        </div>
        <div class="zipCode-container col-md-4 justify-content-center">
            <p>Your Zip Codes</p>
            <div class="col-md-2"></div>
            <div id="selectedZipCodesContainer" class="col-md justify-content-center">
                <div class="col-md-2"></div>
                <!-- JavaScript will populate this container -->
            </div>
        </div>



    </div>
    </div>
    <script src="/zipcodetest.js"></script>
</body>

</html>