<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buyer Profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.6.0/nouislider.min.css">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script> -->
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
    <link rel="stylesheet" href="zipcodetest.css">
</head>

<body>
    <!-- <div class="margin-top-100"></div> -->
    <div class="container mt-5">
        <p>Your Zip Codes</p>
        <div class="selectContainer">
            <div class="state-group row">
                <label for="stateSelect" class="col-md-2 col-form-label">States:</label>
                <div class="col-md-2">
                    <select id="stateSelect" class="form-select-sm justify-content-left"
                        onchange="populateCitiesCounties();"></select>
                </div>
            </div>
            <div class="state-group row">
                <label for="countySelect" class="col-md-2 col-form-label">County:</label>
                <div class="col-md-3">
                    <select id="countySelect" class="form-select-sm" onchange="populateCountyZipCodes();"></select>
                </div>
            </div>
            <div class="city-group row">
                <label for="citySelect" class="col-md-2 col-form-label">Cities:</label>
                <div class="col-md-3">
                    <select id="citySelect" class="form-select-sm" onchange="populateCityZipCodes();"></select>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="zipCode-container col-md-4 justify-content-center">
                <p>Select Zip Codes</p>
                <div class="col-md-2 justify-content-center"></div>
                <div id="availabeZipCodesContainer" class="col-md justify-content-center">
                    <!-- JavaScript will populate this container -->
                </div>
            </div>
            <div class="zipCode-container col-md-4 justify-content-center">
                <div class="row"></div>
                <div class="row"></div>
                <div class="row justify-content-center">
                    <button type="button" class="btn btn-primary btn-sm" onclick="addSelection()">Add --> </button>
                </div>
                <div class="row justify-content-center">
                    <button type="button" class="btn btn-primary btn-sm" onclick="removeSelection()"> <--
                            Remove</button>
                </div>
                <div class="row"></div>
                <div class="row justify-content-center">
                    <button type="button" class="btn btn-primary btn-sm" onclick="saveChanges()">Save</button>
                </div>
            </div>
            <div class="zipCode-container col-md-4 justify-content-center">
                <p>Your Zip Codes</p>
                <div class="col-md-2"></div>
                <div id="selectedZipCodesContainer" class="col-md justify-content-center">
                    <!-- JavaScript will populate this container -->
                </div>
            </div>
        </div>
        <script src="/zipcodetest.js"></script>
</body>

</html>