.margin-top-100 {
    margin-top: 100px;
}

.hidden {
    display: none;
}

body {
    font-size: 14px;
    /* Base font size */
    /* background-color: #666; */
    margin: 50px 50px;
    max-width: auto;
}

.form-group {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    max-width: fit-content;
    text-align: center;
}

.form-row {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 2px;
    padding-right: 0px;
    height: fit-content;
    border: 1px solid black;
    border-radius: 8px;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.form-row.container-right {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 2px;
    padding-right: 0px;
    height: fit-content;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    background-color: blueviolet;
}

.form-row.selected {
    background-color: #007BFF;
    color: white;
}

.container-left {
    opacity: 0.8;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 300px;
    height: fit-content;
    justify-content: center;
    align-items: center;
}

.container-right {
    opacity: 0.8;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 300px;
    height: fit-content;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 8px;
    background-color: aqua;
}