:root {
  --background-color: rgba(19, 50, 109);
  --dialog-color: #f0f2f5;
  --text-color: white;
  --dialog-opacity: 0.9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo-container {
  width: 175px;
  height: 65px;
  background-image: url('/images/3-1.png');
  background-size: cover;
  /* or 'background-size: contain;' */
  background-position: center;
  /* you can change this to 'top', 'right', etc. */
  display: block;
  /* background-repeat: no-repeat; */
}

.navbar{
  background-color: var(--background-color);
}

.nav-item {
color: white;}

.navbar-toggler {
  border-color: rgba(245, 241, 241, 0.957); /* Optional: Change border color of the toggler button */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
/* header {
  background-color: #00488A;
  width: 100%;
  color: white;
  text-align: start;
  display: flex;
  flex-direction: row;
  padding: 0 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 80px;
  align-items: center;
} */

.header img {
  height: 8px;
  /* Adjust the height as needed */
  margin-right: 20px;
  /* Adjust the margin as needed */
}

#title {
  height: 75px;
}

#title a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  padding: 20px 0;
  height: 0;
  margin-left: 20px;
}

#navlinks {
  display: flex;
  list-style-type: none;
}

#navlinks p {
  padding: 25px 0;
}

#navlinks p a {
  margin: 0 10px;
  padding: 20px 0;
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s;
}

#navlinks a:hover {
  background-color: rgba(40, 71, 130, 0.8);
}

#navlinks p {
  font-size: 16px;
}

#navname {
  margin: 0 10px;
  height: 10px;
}