*{
    margin: 0;
}
header {
    background-color: #333;
    width: 100%;
    color: white;
    text-align: start;
    display: flex;
    flex-direction: row;
    margin: 0;
    align-items: flex-start;
    height: 75px;
}

#title {
    flex-grow: 10;
    margin: 0;
    height: 100%;
    align-content: center;
}

#navlinks {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    height: 100%;
    align-items: center;
    margin: 0;
    justify-content: flex-end;
}

#navlinks a{
    margin: 10px;
    padding: 25px 5px;
    width: 60px;
    text-align: center;
    justify-content: center;
    color: white;
    text-decoration: none;
}