*{
    margin: 0;
}
header {
    background-color: rgba(19, 50, 109);
    width: 100%;
    color: white;
    text-align: start;
    display: flex;
    flex-direction: row;
    margin: 0;
    align-items: flex-start;
    height: 75px;
}

a{
    text-decoration: none;
}

#title {
    padding-left: 25px;
    flex-grow: 10;
    margin: 0;
    height: 100%;
    align-content: center;
    color: white;
}

#title h1 a{
    height: 100%;
}

#navlinks {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    height: 100%;
    align-items: center;
    margin: 0;
    justify-content: flex-end;
}

#navlinks a{
    margin: 10px;
    height: 100%;
    width: 75px;
    text-align: center;
    text-justify: start;
    align-content: center;
    color: white;
}

#navlinks a:hover{
    animation: fadeInAnimation ease 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        background-color: rgba(40, 71, 130, 0);
    }

    100% {
        background-color: rgba(40, 71, 130);
    }
}