:root {
    --light-green: #a5b37b;
    --medium-green: #63795f;
    --dark-green: #324b37;
    --pale-yellow: #fffade;
}

body { 
    font-family: 'Open Sans', sans-serif; 
}

header { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 20px; 
}

.navbar {
    background-color: var(--light-green); 
}

nav ul { 
    list-style: none; 
    display: flex; 
    gap: 20px; 
}

.nav-link { 
    text-decoration: none; 
    color: var(--pale-yellow); 
}

.nav-link:hover {
    color: var(--pale-yellow); 
    text-decoration: underline var(--dark-green);
    text-decoration-thickness: 3px;
}

#hero { 
    text-align: center; 
    padding: 50px 20px; 
    background: var(--pale-yellow); 
    /* background-image: url(./images/hero\ image.jpg); */
    background-size: contain;
    background-repeat: no-repeat;
    color: var(--dark-green)
}

#hero h2 { 
    font-size: 2.5em; 
    margin-bottom: 20px; 
}

#hero p { 
    font-size: 1.2em; 
    margin-bottom: 30px; 
}

#hero button { 
    padding: 10px 20px; 
    font-size: 1em; 
    background: var(--dark-green); 
    color: var(--pale-yellow); 
    border: none; 
    cursor: pointer; 
}

#middle-section {
    background-color: var(--pale-yellow);
}

#how-it-works, #buyers-agents {
    background-color: var(--dark-green);
    color: var(--light-green);
    border-radius: 20px;
    padding: 40px 20px;
}

#how-it-works h2, #for-buyers h2, #for-agents h2 {
    padding-bottom: 10px;
    text-decoration: underline;
}

footer { 
    background: var(--dark-green); 
    padding: 20px; 
    text-align: center; 
    color: var(--pale-yellow)
}

#footer-nav li {
    list-style: none;
}

#footer-nav li a {
    color: var(--pale-yellow);
}



#socials a {
    color: var(--pale-yellow);
    font-size: 30px;
}