.form-container {
    max-width: 600px;
    margin: auto;
    margin-bottom: 1px;
    margin-top: 1px;
    /* border: 1px solid #ccc; */
    font-size: 5;
    /* Less space between elements */
}

.container {
    background-color: #f0f2f5;
    width: 400px;
    border-radius: 10px;
    opacity: 0.8;
}

.form-group {
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 1px;
    margin-right: 1px;
    padding: 0;
    /* Less space between elements */
}

.form-group .col-form-label {
    padding: 0;
    text-align: right;
}

.form-group .form-control {
    padding: .2rem .25rem;
    /* Less padding inside input fields */
    height: calc(1.5em + .5rem + 2px);
    /* Adjust height */
    font-size: 14px;
    /* Element value font size */
}

.form-control.view-mode {
    border: none;
    background-color: transparent;
    box-shadow: none;
    font-size: 5;
    padding-left: 0;
}

.text-center button {
    margin: 5px;
    /* Less space between buttons */
}

.disabled {
    opacity: 0.6;
    color: #ccc;
    cursor: not-allowed;
}