body {
    font-size: 12px;
    /* Base font size */
    background-color: #666;
    margin: 100px 50px;
}

.form-container {
    max-width: 600px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 100px;
    /* Less space between elements */
}

.form-group {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 1px;
    margin-right: 1px;
    /* Less space between elements */
}

.form-group .col-form-label {
    padding-top: 0;
    padding-bottom: 0;
    text-align: right;
}

.form-group .form-control {
    padding: .2rem .25rem;
    /* Less padding inside input fields */
    height: calc(1.5em + .5rem + 2px);
    /* Adjust height */
    font-size: 12px;
    /* Element value font size */
}

.form-control.view-mode {
    border: none;
    background-color: transparent;
    box-shadow: none;
}

.text-center button {
    margin: 5px;
    /* Less space between buttons */
}
