:root {
    --background-color: rgba(19, 50, 109);
    --text-color: white;
}

.margin-top-100 {
    margin-top: 100px;
}

.background-container {
    background-image: url("images/titlebackground3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0;
    opacity: 0.3;
    /* Adjust this value to change the opacity of the background image */
    position: fixed;
    /* Make it fixed to cover the entire viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Ensure the background stays behind the content */
}

body {
    font-size: 14px;
    margin: 50px 50px;
    max-width: auto;
}

.form-group {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    max-width: fit-content;
    /* justify-items: center;
    text-align: center; */
}

.container {
    opacity: 0.8;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: auto;
    justify-content: center;
    align-items: center;
}

.buyertype {
    padding: 0px;
}

.form-container {
    max-width: 500px;
    margin-left: 20px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 14px;
    text-align: right;
    border-radius: 5px;
    border: 1px solid black;
}

/*  ZIP CODE CSS */
.zipCodeContainer {
    opacity: 0.8;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%;

    justify-content: center;
    align-items: center;
}

.zipCodeSelected {
    padding: 1px;
    /* border: 1px solid #ddd; */
    margin-bottom: 1px;
    cursor: pointer;
}

.zipCodeSelected.selected {
    background-color: #007BFF;
    color: white;
}

.zipCodeOption,
.userZipCodes,
.displayZipCodes {
    padding: 0px;
    /* border: 1px solid #ddd; */
    margin-bottom: 0px;
    margin-top: 0px;
    cursor: pointer;
    text-align: center;
}

.zipCodeOption.selected,
.userZipCodes.selected {
    background-color: #007BFF;
    color: white;
}

#selectedZipCodesContainer,
#availabeZipCodesContainer {
    overflow: auto;
    width: 100px;
    max-height: 160px;
    min-height: 160px;
    text-align: center;
    align-items: center;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

#displayZipCodes {
    overflow: auto;
    width: 280px;
    max-height: 150px;
    min-height: 100px;
    text-align: center;
    align-items: center;
    margin-left: 5px;
    border-top: 1px solid black;
}

.userZip-container {
    background-color: var(--dialog-color);
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 300px;
    height: auto;
    border-radius: 8px;
    border: 1px solid black;
    align-items: center;
    text-align: center;
}

#ownedZipCodes {
    max-height: 225px;
    overflow: auto;
}

#zipCodeButton {
    height: 32px;
    background-color: rgba(19, 50, 109);
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 20px;
    cursor: pointer;
    width: 50px;
    margin-top: 5px;
}

.zipAction {
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: auto;
    text-align: center;
    display: flex;
    /* flex-direction: column; Stack items vertically */
    align-items: center;
    /* Center items horizontally */
    justify-content: center;
    /* Center items vertically */
    align-content: center;
}

.zipCode-group {
    /* margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 13px;
    margin-right: 1px; */
    margin: 0px 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: auto;
    align-items: center;
    /* Center items horizontally */
    justify-content: center;
    /* Center items vertically */
    align-content: center;
    text-align: center;
    justify-items: center;
}

.county-group,
.zipstate-group,
.zipselect-group {
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 1px;
    padding-left: 2px;
    width: auto;
    max-height: fit-content;
    border: 1px solid black;
    border-radius: 8px;
    /* Less space between elements */
    align-content: center;
    align-items: center;
    text-align: right;
}

.zips {
    margin-left: 80px;
    margin-right: 0px;
    margin-top: 5px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 5;
    width: 400px;
    border-radius: 5px;
    border: 1px solid black;
}

/* ZIP CSS end */

.buyertype-container {
    max-width: 90%;
    margin-left: 13px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 14px;
    text-align: center;
    align-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid black;
}



.buyertype-container-edit {
    max-width: 90%;
    margin-left: 25px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 14px;
    text-align: center;
    align-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid black;
}

.profile-group,
.property-group {
    margin: 0px 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 300px;
    line-height: 2;
    max-height: fit-content;
    align-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 8px;
}

.property-group {
    height: fit-content;
    max-height: 490px;
    border: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 2px;
    padding-right: 0px;
    align-items: center;
    align-self: start;
    justify-content: center;
}

.hidden {
    display: none;
}

.form-row {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    height: fit-content;
    /* border: 1px solid black;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px; */

}

#countdown {
    font-size: 12px;
    color: gray;
}

.help-icon {
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: lightblue;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    color: white;
}

#help-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    padding: 20px;
    display: none;
}

/* The Modal CSS */
/* .modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* Modal content */
.modal-content {
    font-size: 14px;
    /* background-color: #666; */
    padding: 0%;
    width: auto;
    height: auto;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Close button in the modal content */
.modal-close-btn {
    margin-top: 20px;
}


#dashboardContainer,
#loginContainer {
    margin: 50px 0;
    border-radius: 8px;
}

.col-md-4,
.col-md-3,
.col-md-2 {
    margin-left: 0px;
    align-items: center;
}

.selectContainer {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    width: auto;
    max-height: fit-content;
    /* Less space between elements */
    align-content: center;
    align-items: center;
    text-align: right;
}

.state-group {
    margin-top: 0px;
    margin-left: 2px;
    margin-right: 1px;
    padding-left: 2px;
    width: 475px;
    max-height: fit-content;
    /* Less space between elements */
    align-content: center;
    align-items: center;
    text-align: right;
}

.city-group {
    margin-top: 0px;
    margin-left: 2px;
    margin-right: 1px;
    padding-left: 2px;
    width: 400px;
    max-height: fit-content;
    /* Less space between elements */
    /* border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc; */
    align-content: center;
    align-items: center;
    text-align: right;
}

#licenseForm,
#zipCodeForm,
#transactionForm,
#bioForm {
    display: none;
}


/* .container {
    border-radius: 10px;
    opacity: 0.8;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
} */


.form-control.view-mode {
    border: none;
    background-color: transparent;
    box-shadow: none;
    font-size: 5;
    padding-left: 0;
}

.zipmove-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    color: black;
    border: 1px solid black;
    padding: 0px 0px;
    font-size: 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

#modify-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    color: white;
    border: 1px solid black;
    padding: 0px 5px;
    font-size: 12px;
    border-radius: 4px;
    cursor: pointer;
    /* transition: background-color 0.3s ease; */
}

#modify-button:hover {
    background-color: grey;
    color: white;
}