body {
    font-size: 14px;
    /* Base font size */
    /* background-color: #666; */
    margin: 50px 50px;
    max-width: auto;
}

.margin-top-100 {
    margin-top: 100px;
}
.col-md-4 {
    margin-left: 0px;
}
.container {
    border-radius: 10px;
    border: 1px solid #ccc;
    opacity: 0.8;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.form-container {
    max-width: 500px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 1px solid #ccc;
    font-size: 5;
    /* Less space between elements */
    /* padding: 20px; */
    border-radius: 5px;
}

.form-group {
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 0px;
    border: 1px solid #ccc;
    /* Less space between elements */
}

.form-group .col-form-label {
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 0;
    border: 1px solid #ccc;
    text-align: right;
}

.label {
    border: 1px solid #ccc;

}
.form-group .form-control {
    padding: .2rem .25rem;
    /* Less padding inside input fields */
    height: calc(1.5em + .5rem + 2px);
    /* Adjust height */
    font-size: 14px;
    /* Element value font size */
    border: 1px solid #ccc;
}
.form-group .row {
    padding-left: 0px;
    /* Less padding inside input fields */
    height: calc(1.5em + .5rem + 2px);
    /* Adjust height */
    font-size: 14px;
    /* Element value font size */
    border: 1px solid #ccc;
}

.form-control.view-mode {
    border: none;
    background-color: transparent;
    box-shadow: none;
    font-size: 5;
    padding-left: 0;
}

.text-center button {
    margin: 5px;
    /* Less space between buttons */
}