body {
    font-size: 14px;
    /* Base font size */
    background-color: #666;
    margin: 100px 50px;
}

.margin-top-100 {
    margin-top: 100px;
}
.form-container {
    max-width: 500px;
    margin: auto;
    margin-bottom: 1px;
    margin-top: 1px;
    border: 1px solid #ccc;
    font-size: 5;
    /* Less space between elements */
}

.form-group {
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 1px;
    padding-right: 1px;
    /* Less space between elements */
}

.form-group .col-form-label {
    padding-top: 0;
    padding-bottom: 0;
    text-align: right;
    border: 1px solid #ccc;
}

.form-group .form-control {
    padding: .2rem .25rem;
    /* Less padding inside input fields */
    height: calc(1.5em + .5rem + 2px);
    /* Adjust height */
    font-size: 14px;
    /* Element value font size */
    border: 1px solid #ccc;
}

.form-control.view-mode {
    border: none;
    background-color: transparent;
    box-shadow: none;
    font-size: 5;
    border: 1px solid #ccc;
}

.text-center button {
    margin: 5px;
    /* Less space between buttons */
}

.font-size-12 {
    font-size: 14px;
}