#registerContainer {
    position: relative;
    z-index: 1;
    text-align: center;
    color: black; /* Ensure text is visible on background */
}

#registerBody {
    position: relative;
    z-index: 1;
    height: 100%;
}

#regForm div{
    margin: 2px 0;
}

#submit_button{
    background-color: rgba(19, 50, 109);
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
}

#submit_button:hover{
    opacity: 0.8;
}

#submit_button:disabled{
    opacity: 0.6;
    cursor: not-allowed;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 2px;
    padding-right: 0px;
    align-items: center;
    align-self: start;
    justify-content: center;
}

.form-row {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    height: fit-content;
    /* border: 1px solid black;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px; */

}

.form-container {
    max-width: 550px;
    margin: auto;
    margin-bottom: 1px;
    margin-top: 1px;
    /* border: 1px solid #ccc; */
    font-size: 5;
    /* Less space between elements */
}

.container {
    background-color: #f0f2f5;
    border-radius: 10px;
    opacity: 0.8;
}

.form-group {
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 1px;
    margin-right: 1px;
    padding: 0;
    /* Less space between elements */
}

.form-group .col-form-label {
    padding: 0;
    text-align: right;
}

.form-group .form-control {
    padding: .2rem .25rem;
    /* Less padding inside input fields */
    height: calc(1.5em + .5rem + 2px);
    /* Adjust height */
    font-size: 14px;
    /* Element value font size */
}

.form-control.view-mode {
    border: none;
    background-color: transparent;
    box-shadow: none;
    font-size: 5;
    padding-left: 0;
}

.text-center button {
    margin: 5px;
    /* Less space between buttons */
}

.disabled {
    opacity: 0.6;
    color: #ccc;
    cursor: not-allowed;
}


