.margin-top-100 {
    margin-top: 100px;
}

.button-row {
    display: flex;
    justify-content: center;
    margin-bottom: 2px;
    margin-left: 1px;
    margin-right: 1px;
}

.label-above {
    margin: 0px;
    justify-content: center;
}

.displaytext {
    height: 21px;
}

.view-mode-l {
    text-align: left;
    margin: 0px;
}

.view-mode-r {
    text-align: right;
    margin: 0px;
}

.view-mode-c {
    text-align: center;
    margin: 0px;
}

.form-control-sm {
    padding: 2px;
    height: 20px;
    border-left: 2px solid black;
    border-right: 1px solid black;
    border-top: 2px solid black;
    border-bottom: 1px solid black;

}

.col-form-label {
    padding-top: 0px;
    padding-bottom: 0px;
}