body {
    font-family: Arial, sans-serif;
    background-color: var(--dialog-color);
    font-size: 14px;
}

body::before {
    content: "";
    position: absolute;
    top: 75px; /* Start 100px down */
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("images/titlebackground3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0;
    opacity: 0.5; /* Change this value to adjust opacity */
    z-index: -1; /* Ensure the background stays behind the content */
}

.margin-top-100 {
    margin-top: 100px;
}

.button-row {
    display: flex;
    justify-content: center;
    margin-bottom: 2px;
    margin-left: 1px;
    margin-right: 1px;
}

.checkbox-label{
    margin-right: 3px;
    margin-bottom: 0px;
    padding: 0px;

}
.label-above {
    margin: 0px;
    justify-content: center;
}

.displaytext {
    height: 21px;
}

.view-mode-l {
    text-align: left;
    margin: 0px;
}

.view-mode-r {
    text-align: right;
    margin: 0px;
}

.view-mode-c {
    text-align: center;
    margin: 0px;
}

.form-control-sm {
    padding: 2px;
    height: 20px;
    border-left: 2px solid black;
    border-right: 1px solid black;
    border-top: 2px solid black;
    border-bottom: 1px solid black;

}

.col-form-label {
    padding-top: 0px;
    padding-bottom: 0px;
}