/* Style for the modal background */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}


/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.center-container {
    display: flex;
    justify-content: center; /* Center horizontally */
/*    align-items: center; /* Center vertically */
    height: 100vh; /* Example height, adjust as necessary */
}

#message {
    transition: opacity 0.5s ease-in-out;
    opacity: 1; /* Start invisible */
}

#message.show {
    opacity: 1; /* Fade in when class 'show' is added */
}

.container {
    display: flex;
}

.box1, .box2 {
    width: 50%; /* Adjust width as necessary */
}

#availabeZipCodesContainer {
    border: 2px solid #ccc;
    padding: 10px;
    width: 100px;
    margin: 20px;
    height: 300px;
    overflow-y: auto;
    }
#selectedZipCodesContainer {
    border: 2px solid #ccc;
    padding: 10px;
    width: 50px;
    margin: 20px;
    height: 300px;
    overflow-y: auto;
    }

    .zipCodeSelected {
    padding: 2px;
    /* border: 1px solid #ddd; */
    margin-bottom: 2px;
    cursor: pointer;
    }

    .zipCodeSelected.selected {
    background-color: #007BFF;
    color: white;
    }
    

    .zipCodeOption {
        padding: 2px;
        /* border: 1px solid #ddd; */
        margin-bottom: 2px;
        cursor: pointer;
        }
    
        .zipCodeOption.selected {
        background-color: #007BFF;
        color: white;
        }
        html {
        font-size: 14px; /* setting base size */
    }
    
    p {
        font-size: 1.25rem; /* 20px if the base size is 16px */
    }
    
    .button {
        background-color: #ddd;
        border: none;
        color: black;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 16px;
      }
    