body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    font-size: 14px;
}
    
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
  
#profileContainer, #dashboardContainer, #loginContainer, .zipCode-container {
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
}

#dashboardContainer, #loginContainer, .zipCode-container {
    margin: 50px 0;
    border-radius: 8px;
}

#dashboardBody{
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
}

#dashboardContainer{
    grid-column: 2;
    margin-top: 100px;
}

#profileBody{
    display: grid;
    grid-template-rows: 1fr 10fr;
    grid-template-columns: 2fr 3fr 2fr;
}

#profileNav{
    grid-column: 2;
    grid-row: 1;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    max-height: 400px;
    height: 50px;
}

#profileNav button{
    background-color: white;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px 8px 0 0;
    padding: 10px;
    cursor: pointer;
}

#overviewButton:hover, #officeButton:hover, #licenseButton:hover, #zipCodeButton:hover, #transactionButton:hover, #bioButton:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

#overviewButton{
    grid-column: 1;
    background-color: #007BFF;
}

#officeButton{
    grid-column: 2;
}

#licenseButton{
    grid-column: 3;
}

#zipCodeButton{
    grid-column: 4;
}

#transactionButton{
    grid-column: 5;
}

#bioButton{
    grid-column: 6;
}

#profileContainer{
    grid-column: 2;
    grid-row: 2;
    border-radius: 0 0 8px 8px;
}
  
#profileContainer h1, #dashboardContainer h1, #loginContainer h1, .zipCode-container h1 {
    margin-bottom: 20px;
}

#loginBody{
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;

}

#loginContainer {
    grid-column: 2;
    background-color: white;
    padding: 20px;
    margin: 100px 0;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
}
  
#loginContainer h1 {
    margin-bottom: 20px;
}

.zipCodeSelected {
    padding: 2px;
    /* border: 1px solid #ddd; */
    margin-bottom: 2px;
    cursor: pointer;
}

.zipCodeSelected.selected {
    background-color: #007BFF;
    color: white;
}

.zipCodeOption {
    padding: 2px;
    /* border: 1px solid #ddd; */
    margin-bottom: 2px;
    cursor: pointer;
}

.zipCodeOption.selected {
    background-color: #007BFF;
    color: white;
}

html {
    font-size: 14px; /* setting base size */
}   

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
  
table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}
  
table th {
    background-color: #f4f4f4;
}
  
form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}
  
form input, form select, form button {
    padding: 10px;
    border: 1px solid rgba(19, 50, 109);
    border-radius: 4px;
    font-size: 14px;
}
  
form button {
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
form button:hover {
    background-color: #45a049;
}
  
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1px;
    background-color: grey;
    padding: 1px;
    border-radius: 8px;
    color: black;
    max-height: 300px;
}

.grid-action{
    align-items: center;
}

#availabeZipCodesContainer {
    overflow: auto;
    width: 100%;
    max-height: 225px;
}

#selectedZipCodesContainer {
    overflow: auto;
    width: 100%;
    max-height: 125px;
}

.zipCodeOption {
    text-align: center;
}
  
.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    gap: 10px;
    border-radius: 8px;
}
  
.grid-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
  
.button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
.disabled {
    opacity: 0.6;
    color: #ccc;
    cursor: not-allowed;
}

.button:hover {
    background-color: #45a049;
}
  