body {
    font-size: 14px;
    /* Base font size */
    /* background-color: #666; */
    /* margin: 50px 50px; */
    max-width: auto;
}

.zipCode-container {
    background-color: white;
    padding: 20px;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    max-width: 200px;
    margin: 0px 0px;
    border-radius: 8px;
    /* border: 1px solid black; */
    width: 200px;
    align-items: center;
    text-align: center;
}

#zipCodeButton {
    grid-column: 4;
}

.zipCodeSelected {
    padding: 1px;
    /* border: 1px solid #ddd; */
    margin-bottom: 1px;
    cursor: pointer;
}

.zipCodeSelected.selected {
    background-color: #007BFF;
    color: white;
}


#selectedZipCodesContainer, #availabeZipCodesContainer{
    overflow: auto;
    width: 100px;
    max-height: 160px;
    min-height: 160px;
    text-align: center;
    align-items: center;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

#ownedZipCodes {
    max-height: 250px;
    overflow: auto;
    text-align: center;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    
}

#zipCodeButton {
    height: 32px;
    background-color: rgba(19, 50, 109);
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 20px;
    cursor: pointer;
    width: 50px;
    margin-top: 5px;
}

#licenseForm,
#zipCodeForm,
#transactionForm,
#bioForm {
    display: none;
}


.margin-top-100 {
    margin-top: 0px;
}

.col-md-4 {
    margin-left: 0px;
}

.container {
    border-radius: 10px;
    opacity: 0.8;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 502px;
    border: 1px solid black;
}

.form-container {
    max-width: 500px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 5;
    /* Less space between elements */
    /* padding: 20px; */
    border-radius: 5px;
    border: 1px solid #ccc;
}

.selectContainer {
    margin-top: 0px;
    margin-left: 2px;
    margin-right: 1px;
    padding-left: 2px;
    width: 500px;
    max-height: fit-content;
    /* Less space between elements */
    align-content: center;
    align-items: center;
    text-align: right;
}

.state-group {
    margin-top: 0px;
    margin-left: 2px;
    margin-right: 1px;
    padding-left: 2px;
    width: 475px;
    max-height: fit-content;
    /* Less space between elements */
    align-content: center;
    align-items: center;
    text-align: right;
}

.countycity-group {
    margin-top: 0px;
    margin-left: 2px;
    margin-right: 1px;
    padding-left: 2px;
    width: 475px;
    max-height: fit-content;
    /* Less space between elements */
    border: 1px solid #ccc;
    align-content: center;
    align-items: center;
    text-align: right;

}
.county-group {
    margin-top: 0px;
    margin-left: 2px;
    margin-right: 1px;
    padding-left: 2px;
    width: 475px;
    max-height: fit-content;
    /* Less space between elements */
    align-content: center;
    align-items: center;
    text-align: right;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.city-group {
    margin-top: 0px;
    margin-left: 2px;
    margin-right: 1px;
    padding-left: 2px;
    width: 475px;
    max-height: fit-content;
    /* Less space between elements */
    /* border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc; */
    align-content: center;
    align-items: center;
    text-align: right;
}

.form-group {
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 0px;
    border: 1px solid black;
    width: 500px;
    border-radius: 5px;
    max-height: fit-content;
    /* Less space between elements */
}

.form-group .col-form-label {
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 0%;
    padding: 0;
    text-align: right;
}

.form-group .form-control {
    padding: .2rem .25rem;
    /* Less padding inside input fields */
    height: calc(1.5em + .5rem + 2px);
    /* Adjust height */
    font-size: 14px;
    /* Element value font size */
}
.col-md-3 {
    margin-left: 0px;
    align-items: center;
}


.zipCodeOption {
    padding: 2px;
    font-size: 14px;
    margin-bottom: 2px;
    cursor: pointer;
}

.zipCodeOption.selected {
    background-color: #007BFF;
    color: white;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 2px;
}

.zipCodeSelected {
    padding-left: 2px;
    padding-right: 2px;
    padding: 2px;
    /* border: 1px solid #ddd; */
    margin-bottom: 2px;
    cursor: pointer;
}

.form-group .row {
    padding-left: 0px;
    /* Less padding inside input fields */
    height: calc(1.5em + .5rem + 2px);
    /* Adjust height */
    font-size: 14px;
    /* Element value font size */
}

.form-control.view-mode {
    border: none;
    background-color: transparent;
    box-shadow: none;
    font-size: 5;
    padding-left: 0;
}

.text-center button {
    margin: 5px;
    /* Less space between buttons */
}